*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/img/fon.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.block{
    width: 700px;
    height: 400px;
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background: transparent;
    display: flex;
    backdrop-filter: blur(15px);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.inp1{
    border-radius: 10px;
    border: 1px solid #333;
    margin: 10px;
    width: 100%;
    height: 30px;
}
.inp2{
    border-radius: 10px;
    border: 1px solid #333;
    margin: 10px;
    width: 100%;
    height: 30px;
}
.butlog{
    width: 100px;
    padding: 5px;
    background-color: rgb(26, 207, 26);
    font-size: 15px;
    border: 1px solid #333;
    border-radius: 10px;
    margin: 5px;
    color: white;
}
.butsign{
    width: 100px;
    padding: 5px;
    background-color: rgb(26, 207, 26);
    font-size: 15px;
    border: 1px solid #333;
    border-radius: 10px;
    margin: 5px;
    color: white;
}
.textLogo{
    margin-bottom: 15px;
    color: white;
    font-family: Lora;
}
.logo{
    position: absolute;
    left: 5%;
    top: 3vh;
    color: white;
}
.linkSign{
    position: relative;
    top: 5%;
    color: white;
}
.linkS{
    color: rgb(49, 139, 22);
}
.img{
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-size: cover;
}
.inpImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: 0;
    z-index: 3;
}
.formReg{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.allForm{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.grayscale-mode {
    filter: grayscale(100%);
}