*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    max-width: 100%;
    overflow-x: hidden;
}
.wrap{
    max-width: 100%;
    height: 130vh;
    background-image:  url(img/modern-living-room-interior-with-sofa-green-plants-lamp-table-dark-wall-background.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat; 
}

.heder{
    width: 100%;
    height: 10vh;
    position: relative;
    top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu{
    width: 50%;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 20px;
}
.menu a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.home {
    background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
    background-clip: text;
    color: transparent;
}
.title{
    text-align: center;
    position: relative;
    top: 50px;
    color: white;
    font-size: 50px;
}
.subtitle{
    color: white;
    text-align: center;
    position: relative;
    top: 70px;
    font-weight: 100;
}
.search{
    border-radius: 20px;
    background: #FFFFFF33;
    border: none;
    width: 300px;
    height: 30px;
    color: white;
    padding-left: 10px;
}
.search::placeholder{
    color: white;
}
.searchplace{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 15%;
}
.btnSearch{
    color: white;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 30px;
    position: relative;
    right: 4vh;
    background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
}
.section{
    width: 100%;
    min-height: 100vh;
    background-color: white;
}
.advant{
    display: flex;
    align-items: center;
    padding: 5px;
}
.deliveryText{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.advantages{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
    top: 10vh;
}
.topProduct{
    font-size: 50px;
}
.TextTopProduct{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30vh;
    left: 10%;
}
.SeeMoreProduct{
    margin-top: 10px;
}
.BestBroductCart{
    background-color: #C1D0E4;
    width: 250px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.doubleBackground{
    width: 250px;
    height: 170px;
    background-color: white;
    position: relative;
    top: 230px;
    border-radius: 20px;
}
.bestProduct{
    width: 65%;
    position: relative;
    left: 30%;
    display: flex;
    justify-content: space-between;
}
.namePlant{
    position: relative;
    top: 5%;
    left: 5%;
}
.price{
    position: relative;
    top: 60%;
    left: 10%;
}
.addbut{
    background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    position: relative;
    left: 70%;
    top: 35%;
}
.photoPlant{
    width: 200px;
    height: 200px;
    background-size: cover;
    position: absolute;
}
.section1{
    width: 100%;
    height: 120vh;
    background-color: white;
}
.room1{
    width: 40%;
    height: 40%;
    background-image: url(img/brown-sofa.png);
    position: relative;
    left: 10%;
    top: 30vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-size: cover;
    background-position: center;
    color: rgba(255, 255, 255, 0);
    transition: 1s;
}
.room1:hover{
    color: rgb(255, 255, 255);
}












.room2{
    width: 40%;
    height: 40%;
    background-image: url(img/room2.png);
    position: relative;
    left: 10%;
    top: 33vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-size: cover;
    background-position: center;
    color: rgba(255, 255, 255, 0);
    transition: 1s;
}
.room2:hover{
    color: rgb(255, 255, 255);
}



.room3{
    width: 40%;
    height: 80%;
    background-image: url(img/room3.png);
    position: relative;
    left: 55%;
    bottom: 65vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-size: cover;
    background-position: center;
    color: rgba(255, 255, 255, 0);
    transition: 1s;
}
.room3:hover{
    color: rgb(255, 255, 255);
}
.section2{
    width: 100%;
    height: 100vh;
    background-color: white;
}
.careForplantstext{
    font-size: 50px;
}
.textcareplants{
    position: relative;
    top: 15vh;
    left: 10%;
}
.logocareplant{
    width: 50px;
    height: 50px;
    margin: 10px;
}
.advicePlant{
    display: flex;
    align-items: center;
    margin: 10px;
}
.advicePlantText{
    display: flex;
    flex-direction: column;
}
.advices{
    height: 50vh;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20vh;
    left: 10%;
}
.backgroundplants{
    width: 500px;
    height: auto;
    position: relative;
    left: 40%;
    bottom: 70vh;
}
.basement{
    width: 100%;
    min-height: 70vh;
    background: linear-gradient(93.99deg, #566270 0.51%, #283444 100%);
}
    .emailNews{
        border-radius: 30px;
        background: #FFFFFF33;
        border: none;
        width: 350px;
        height: 50px;
        color: white;
        padding-left: 10px;
        margin-top: 30px;
    }
    .emailNews::placeholder{
        color: white;
    }
    .Newslatter{
        color: white;
        margin-left: 10px;
    }
    .news{
        position: relative;
        top: 15vh;
        left: 10%;
    }
    .pushMessage{
        position: relative;
        right: 30%;
        top: 15vh;
        text-align: center;
        color: white;
        padding: 1vh;
        border: none;
        border-radius: 30px;
        background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
    }
    .subscribeBtn{
        text-align: center;
        color: white;
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 30px;
        position: relative;
        right: 8.5%;
        background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
    }
    .types{
        width: 50%;
        display: flex;
        justify-content: space-around;
    }
    .productPage{
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: #ccc;
        padding: 50px 150px;
        color: #081323;
        position: relative;
        top: 25vh;
    }
    .productPage h2{
        margin-bottom: 20px;
    }
    .productPage p{
        color: #4f4f4f;
    }
    .goodsContainer{
        width: 80%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .goodsCard{
        min-width: 250px;
        background-color: #98b6b3;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        box-shadow: 0 2px 5px #ccc;
        margin: 20px 10px;
    }
    .goodsDesc{
        background-color: #fff;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        border-radius: 50px;
        height: 150px;
        padding: 30px;
        font-family: 'Work Sans';
        justify-content: space-between;
    }
    .goodsDesc p{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .goodsDesc button{
        width: 50px;
        height: 50px;
        background: rgb(42, 245, 180);
        color: #fff;
        font-weight: 600;
        border: none;
        border-radius: 50%;
        font-size: 32px;
        cursor: pointer;
    }
    .cartPopup{
        width: 70%;
        height: 90vh;
        box-shadow: 0 0 10px #999;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        background-color: #f5f5f5;
        z-index: 3;
    }
    .inpCart{
        background-color: #95a5a6 ;
        border: none;
        margin: 5px;
        height: 30px;
        border-radius: 10px;
    }
    .inpCart::placeholder{
        color: black;
    }
    .butCart{
        background-color: #3498db;
        border: none;
        padding: 10px;
        border-radius: 10px;
        color: white;
    }
    .ourAdress{
        width: 55%;
        height: 52vh;
        position: relative;
        bottom: 10vh;
        left: 40%;
        display: flex;
        overflow-y: auto;
        flex-wrap: wrap;
        white-space: pre-wrap;
        color: white;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
        border: 1px solid #333; 
    }
    .goodsImg{
        width: 150px;
        height: 150px;
        background-size: cover;
        margin-bottom: 10px;
    }
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #2fdb8e;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: #333;
    border-radius: 10px;
}
.adressText{
    margin-left: 5vh;
    margin-top: 5px;
}
.cartPopupContainer{
    width: 90%;
    height: 70%;
    background-color: #b6c9c773;
    border-radius: 10px;
    overflow-y: auto;
}
.nonOrder{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.newOrder{
    width: 100%;
    min-height: 100px;
    background-color: #33333391;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
}
.imgOrder{
    width: 30%;
    height: 90%;
    background-size: cover;
}
@media (max-width: 768px) {
    .searchplace{
        position: relative;
        justify-content: center;
    }
    .menu{
        font-size: 12px;
    }
    .Logo{
        width: 100px;
        height: auto;
    }
    .title{
        font-size: 30px;
    }
    .subtitle{
        font-size: 15px;
    }
    .advantages{
        flex-direction: column;
        align-items: center;
    }
    .advant{
        margin: 5px;
    }
    .titlePP{
        font-size: 15px;
        position: relative;
        right: 15vh;
    }
    .goodsCard{
        margin: 0;
        margin-bottom: 5vh;
    }
    .goodsContainer{
        position: relative;
        right: 10vh;
    }
    .advicePlantText h1{
        font-size: 25px;
    }
    .advicePlantText h3{
        font-size: 15px;
    }
    .backgroundplants{
        display: none;
    }
    .textcareplants h1{
        font-size: 30px;
    }
    .textcareplants h3{
        font-size: 20px;
    }
    .basement{
        min-height: 130vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ourAdress{
        left: 0;
        top: 25vh;
    }
    .subscribeBtn{
        right: 25%;
    }
}
.spinnerContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.5s;
    position: fixed;
    z-index: 100;
    background-color: white;
}
.hide{
    opacity: 0;
    z-index: -100;
}
input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
.spinnerLoad {
    border: 1vh solid #71ff54;
    border-top: 4px solid #1fa71a;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 5px;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }