*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
}
.wrap{
    width: 100%;
    min-height: 100vh;
}
.box{
    width: 100%;
    min-height: 100vh;
}
.goodsContainer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}



.cardgoods{
    width: 250px;
    height: 400px;
    background-color: #98b6b3;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    box-shadow: 0 2px 5px #ccc;
    margin: 15px 0px;
}
.goodsDesc{
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 50px;
    height: 150px;
    padding: 30px;
    font-family: 'Work Sans';
    justify-content: space-between;
}
.goodsDesc p{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addGoodsBtn{
    padding: 10px;
    background: rgb(42, 245, 42);
    border: none;
    border-radius: 10px;
    font-size: 15px;
}
.heder{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
}
.menu{
    width: 30%;
    display: flex;
    justify-content: space-between;
    color: white;
}
.menu a{
    text-decoration: none;
    color: white;
}
.shop {
    background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
    background-clip: text;
    color: transparent;
}
.cartPopup{
    width: 70%;
    min-height: 70vh;
    box-shadow: 0 0 10px #999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    z-index: 3;
}
.addForm{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.addUse{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.inpCart{
    background-color: #95a5a6 ;
    border: none;
    margin: 5px;
    height: 30px;
    border-radius: 10px;
}
.inpCart::placeholder{
    color: black;
}
.addGoods{
    background-color: #3498db;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.newPasswordAdd{
    background-color: #3498db;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.addU{
    width: 100px;
    height: 50px;
    background-color: #3498db;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.cartPopup input{
    width: 50%;
    height: 30px;
    margin: 5px;
}
.textPopap{
    margin: 15px;
}
.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 5px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
#mark{
    position: relative;
    left: 65vh;
    bottom: 10vh;
    font-size: 30px;
    color: red;
}
#mark123{
    position: relative;
    left: 65vh;
    bottom: 10vh;
    font-size: 30px;
    color: red;
}
#mark7{
    position: relative;
    left: 65vh;
    bottom: 10vh;
    font-size: 30px;
    color: red;
}
#mark3{
    position: relative;
    left: 65vh;
    font-size: 30px;
    color: red;
}
#mark5{
    position: relative;
    left: 65vh;
    font-size: 30px;
    color: red;
}
.logoOrder{
    text-align: center;
}
.orderContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.orderItem {
    display: flex;
    width: 90%;
    justify-content: space-between;
    background-color: #333333d0;
    color: #fff;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    border: 1px solid #2fdb8e;
}
.delBut{
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: #2AF598;
}
.messageContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sendButMes{
    width: 100px;
    padding: 5px;
    background-color: #2AF598;
    border: none;
    border-radius: 10px;
}
.mesPlace{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding: 5px;
    resize: none;
    margin: 10vh 0 10px 0;
}
.deleteOrderBtn{
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: #f52a2a;
    margin: 5px;
}
.doneOrderBtn{
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: #2AF598;
    margin: 5px;
}
.orderButs{
    display: flex;
    flex-direction: column;
}
.adressContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sendButAdress{
    width: 100px;
    padding: 5px;
    background-color: #2AF598;
    border: none;
    border-radius: 10px;
}
.adressPlace{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding: 5px;
    resize: none;
    margin: 10vh 0 10px 0;
}
.goodsImg{
    width: 150px;
    height: 150px;
    background-size: cover;
    margin-bottom: 10px;
}
.changeAdressBtn{
    padding: 10px;
    background: rgb(42, 245, 42);
    border: none;
    border-radius: 10px;
    font-size: 15px;
}
.sendMessageBtn{
    padding: 10px;
    background: rgb(42, 245, 42);
    border: none;
    border-radius: 10px;
    font-size: 15px;
}
.newPasswordBtn{
    padding: 10px;
    background: rgb(42, 245, 42);
    border: none;
    border-radius: 10px;
    font-size: 15px;
}
.addlogin{
    padding: 10px;
    background: rgb(42, 245, 42);
    border: none;
    border-radius: 10px;
    font-size: 15px;
}
.adressContainerView{
    width: 100%;
    min-height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.adressBox{
    min-height: 150px;
    background-color: #333;
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.deleteAdressBtn{
    width: 100px;
    padding: 5px;
    background-color: #2AF598;
    border: none;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.ourAdressAdmin{
    text-align: center;
}






.AdminContainerView{
    width: 100%;
    min-height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.adminBox{
    min-height: 150px;
    background-color: #333;
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.deleteAdminBtn{
    width: 100px;
    padding: 5px;
    background-color: #2AF598;
    border: none;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.messageLoad{
    display: flex;
    align-items: center;
    position: relative;
    top: 5vh;
}
@media (max-width: 768px) {
    .searchplace{
        position: relative;
        justify-content: center;
    }
    .menu{
        width: 50%;
        font-size: 15px;
    }
    .heder{
        height: 25vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.spinnerContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.5s;
    position: fixed;
    z-index: 100;
    background-color: white;
}
.hide{
    opacity: 0;
    z-index: -100;
}
.spinnerLoad {
    border: 1vh solid #71ff54;
    border-top: 4px solid #1fa71a;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 5px;
  }
  .fidback{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding: 5px;
    resize: none;
    margin: 10vh 0 10px 0;
}
.fidBackContainer{
    width: 100%;
    height: 75vh;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.fidbackSubmit{
    padding: 10px;
    background: rgb(42, 245, 42);
    border: none;
    border-radius: 10px;
    font-size: 15px;
}
.article{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding: 5px;
    resize: none;
    margin: 10vh 0 10px 0;
}
.articleContainer{
    width: 100%;
    height: 75vh;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.articleSubmit{
    padding: 10px;
    background: rgb(42, 245, 42);
    border: none;
    border-radius: 10px;
    font-size: 15px;
}
.titleArticle{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    margin-top: 10px;
}
.articleCont{
    width: 90%;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #2fdb8e;
    border-radius: 5px;
}
.buttons button{
    margin-top: 10px;
    padding: 5px 10px;
    background-color: rgb(6, 161, 14);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}
.buttons button:hover{
    background-color: #2AF598;
}
.showmorebtn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: rgb(6, 161, 14);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

.showmorebtn:hover {
    background-color: rgb(49, 226, 58);
}
.articledetails {
    max-width: 100%;
    word-wrap: break-word;
}
.ArticleContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.articlechekerContainerText{
    text-align: center;
    margin: 10px;
}
.orderTextInfo{
    margin: 50px;
    color: rgb(223, 53, 53);
}
.mesText{
    width: 50%;
    border: 1px solid #2fdb8e;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    max-width: 300px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 5px;
    overflow: auto;
}

.dropdown-content button {
    margin: 5px 0;
    cursor: pointer;
    font-family: Oxygen, sans-serif;
}
.btn{
    padding: 10px;
    background-color: rgb(6, 161, 14);
    color: white;
    border-radius: 10px;
    border: none;
  }
  .logout{
    padding: 10px;
    background-color: rgb(6, 161, 14);
    color: white;
    border-radius: 10px;
    border: none;
  }
  .grayscale-mode {
    filter: grayscale(100%);
}
.menublock{
    width: 300px;
    height: 100vh;
    background-color: darkblue;
    position: fixed;
    left: -300px;
    z-index: 100;
    border-radius: 0 10px 10px 0;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .menublock a{
    text-decoration: none;
    color: white;
    transition: 1s;
  }
  .menublock a:hover{
    color: #08ba1d;
  }
  .menusets{
    display: flex;
    align-items: center;
    margin-right: 5%;
  }
  .wrapContainer{
    width: 100%;
    min-height: 100vh;
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }