*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    width: 100%;
    min-height: 100vh;
}
.box{
    width: 100%;
    min-height: 100vh;
}
.heder{
    width: 100%;
    height: 10vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}
.about {
    background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
    background-clip: text;
    color: transparent;
}
.goodsContainer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.goodsCard{
    width: 250px;
    height: 250px;
    background-color: #98b6b3;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    box-shadow: 0 2px 5px #ccc;
    margin: 20px 10px;
}
.goodsDesc{
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 50px;
    height: 150px;
    padding: 30px;
    font-family: 'Work Sans';
    justify-content: space-between;
}
.goodsDesc p{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.goodsDesc button{
    width: 50px;
    height: 50px;
    background: rgb(42, 245, 180);
    font-weight: 600;
    border: none;
    border-radius: 50%;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    left: 70%;
}
.goodsImg{
    width: 150px;
    height: 150px;
    background-size: cover;
    margin-bottom: 10px;
}
.cardgoods{
    width: 250px;
    height: 400px;
    background-color: #98b6b3;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    box-shadow: 0 2px 5px #ccc;
    margin: 15px 0px;
}
.addItem{
    color: white;
}
.cartPopup{
    width: 70%;
    height: 90vh;
    box-shadow: 0 0 10px #999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    z-index: 3;
}
.inpCart{
    background-color: #95a5a6 ;
    border: none;
    margin: 5px;
    height: 30px;
    border-radius: 10px;
}
.inpCart::placeholder{
    color: black;
}
.butCart{
    background-color: #3498db;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.cartPopupContainer{
    width: 90%;
    height: 70%;
    background-color: #b6c9c773;
    border-radius: 10px;
    overflow-y: auto;
}
.nonOrder{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.newOrder{
    width: 100%;
    min-height: 100px;
    background-color: #33333391;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
}
#myForm{
    display: flex;
    flex-direction: column;
}
.spinnerContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.5s;
    position: fixed;
    z-index: 100;
    background-color: white;
}
.hide{
    opacity: 0;
    z-index: -100;
}
.spinnerLoad {
    border: 1vh solid #71ff54;
    border-top: 4px solid #1fa71a;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 5px;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    max-width: 300px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 5px;
    overflow: auto;
}

.dropdown-content button {
    margin: 5px 0;
    cursor: pointer;
    font-family: Oxygen, sans-serif;
}
.btn{
    padding: 10px;
    background-color: rgb(6, 161, 14);
    color: white;
    border-radius: 10px;
    border: none;
  }
  .grayscale-mode {
    filter: grayscale(100%);
}
.menublock{
    width: 300px;
    height: 100vh;
    background-color: darkblue;
    position: fixed;
    left: -300px;
    z-index: 100;
    border-radius: 0 10px 10px 0;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .menublock a{
    text-decoration: none;
    color: white;
    transition: 1s;
  }
  .menublock a:hover{
    color: #08ba1d;
  }
  .menusets{
    display: flex;
    align-items: center;
    margin-right: 5%;
  }
  .wrapContainer{
    width: 100%;
    height: 100vh;
    transition: 1s;
  }
  .dark-theme {
    color: #fff;
}
.priceGoods{
    color: #333;
}
.nameGoods{
    color: #333;
}